# Dependencias
node_modules
.pnp
.pnp.js

# Archivos de compilación / Build (Vite)
dist
dist-ssr
*.local

# Variables de entorno (¡Muy importante no subir esto!)
.env
./env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editores de código y Sistema Operativo
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# Archivos de prueba / Coverage
coverage
.nyc_output